<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Modal</title>
	
</head>

<body>
	<button id="modalBtn" class="button">Click to make the modal appear</button>
	
	<div id="simpleModal" class="modal">
		<div class="modal-content">
			<span class="closeBtn">&times;</span>
			<p>Hello I'm a modal</p>
		</div>
	</div>
	

</body>
<script src="modal.js"></script>
</html>